
@media only screen and (min-width: 770px) {

    #VoltarIcoCad {
        width: 30px;
        height: 30px;
        position: relative;
    }

    #CadAlu {
        position: relative;
        margin: auto;
        font-size: 35px;
    }

    #FundoCadAluno {
        background-color: white;
        width: 460px;
        border-radius: 10px;
        height: 610px;
    }

    #AlucoIcoCad {
        width: 140px;
        height: 130px;
    }

    #AlunoNomeLab {
        position: relative;
        float: left;
        margin-left: 5%;
    }

    #NomeInp {
        position: relative;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        bottom: 10px;
    }

    #AlunoTeleLab {
        position: relative;
        float: left;
        margin-left: 5%;
    }

    #TeleInp {
        position: relative;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        bottom: 10px;
    }

    #AlunoEmaiLab {
        position: relative;
        float: left;
        margin-left: 5%;
    }

    #EmailInp {
        position: relative;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        bottom: 10px;
    }

    #RALab {
        position: relative;
        float: left;
        margin-left: 5%;
    }

    #RAInp {
        position: relative;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        bottom: 10px;
    }

    #CheckLabEmail {
        float: left;
        margin-left: 5%;
    }

    #CheckLabDados {
        float: left;
        margin-left: 5%;
    }

    #ButtonCriar {
        position: relative;
        margin: 0;
        top: 10px;
        height:40px;
        width:80px
    }
}

    
@media only screen and (max-width: 769px) {

    #VoltarIcoCad {
        width: 30px;
        height: 30px;
        position: relative;
    }

    #CadAlu {
        position: relative;
        margin: auto;
        font-size:35px;
    }

    #FundoCadAluno {
        background-color: white;
        width: 380px;
        border-radius: 10px;
        height: 600px;  
    }

    #AlucoIcoCad {
        width: 130px;
        height: 130px;
    }

    #AlunoNomeLab {
        position: relative;
        float: left;
        margin-left: 5%;
        font-size:15px;
        
    }

    #NomeInp {
        position: relative;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        bottom: 10px;

    }

    #AlunoTeleLab {
        position: relative;
        float: left;
        margin-left: 5%;
        font-size: 15px;
    }

    #TeleInp {
        position: relative;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        bottom: 10px;

    }

    #AlunoEmaiLab {
        position: relative;
        float: left;
        margin-left: 5%;
        font-size: 15px;
    }

    #EmailInp {
        position: relative;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        bottom: 10px;
    }

    #RALab {
        position: relative;
        float: left;
        margin-left: 5%;
        font-size: 15px;
    }

    #RAInp {
        position: relative;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        bottom: 10px;
    }

    #CheckLabEmail {
        float: left;
        margin-left: 5%;
        font-size: 15px;
    }

    #CheckLabDados {
        float: left;
        margin-left: 5%;
        font-size: 15px;
    }

    #ButtonCriar {
        position: relative;
        margin-left:150px;
        margin-right:150px;
        top: 20px;
        width:80px;
        height:40px;
    }
}
