@media only screen and (min-width: 770px) {
    #FundoCad {
        height: 310px;
        position: relative;
        width: 650px;
        background-color: white;
        border-radius: 10px;
        max-width: 100%;
    }

    #AlunIco {
        width: 160px;
        height: 200px;
        position: relative;
        margin: auto;
        visibility:visible;
        right:130px;
    }

    #OrientadorIco {
        width: 150px;
        height: 150px;
        position: relative;
        margin: auto;
        left: 130px;
        visibility: visible;
    }

    #AlunoText {
        color: black;
        text-decoration: none;
        position: relative;
        right: 150px;
        bottom:10px;
    }

    #OrientadorText {
        color: black;
        text-decoration: none;
        position: relative;
        left: 150px;
        bottom: 10px;
    }
}

@media only screen and (max-width: 769px) {
    #FundoCad {
        height: 250px;
        position: relative;
        width: 400px;
        background-color: white;
        border-radius: 10px;
        max-width: 100%;
    }

    #AlunIco {
        width: 150px;
        height: 140px;
        position: relative;
        margin: auto;
        right: 50px;
        visibility: visible;
    }

    #OrientadorIco {
        width: 110px;
        height: 110px;
        position: relative;
        margin: auto;
        left: 50px;
        visibility: visible;
    }

    #AlunoText {
        color: black;
        text-decoration: none;
        position: relative;
        right: 55px;
        font-size: 15px;
        bottom: 10px;
    }

    #OrientadorText {
        color: black;
        text-decoration: none;
        position: relative;
        left: 65px;
        font-size: 15px;
        bottom: 10px;
    }
}

