#FundoTCCEnviar {
    width: 60%;
    margin: auto;
    background-color: white;
    height: 640px;
    border-radius: 10px;

}

#FundoTCCEnviar2 {
    width: 60%;
    margin: auto;
    background-color: white;
    height: 640px;
    border-radius: 10px;
}

#BotProxAnteEnviar {
    color: white;
    background-color: black;
    margin: auto;
    display: flex;
    position: relative;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #0080ff;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: black;
}

    .custom-file-upload:hover {
        background-color: #0080ff;
        color: white;
    }

#name {    
    outline: none;
    width: 170px;
}

.GroupCheck {
    display: flex;
    align-items:center;
}

.GroupCheck label{
    padding-left:10px;
    
}

.radio {
    appearance: none;
    /*background: #00648C;*/
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #00648C;
    position: relative;
    align-items:center;
    display:flex;
    justify-content: center;
}

    .radio:before {
        content:'';
        position: absolute;
        height: 10px;
        width: 10px;
        background: #00648C;
        border-radius:50%;
        opacity:0;
    }

    .radio:checked:before{
       opacity: 0;
    }
    
    .radio:checked:before{
        opacity: 1;
    }

#Enviar_Arquivo:hover {
    background-color: #565656;
    color: white;
}

#Enviar_Arquivo {
    border: 1px solid #80808060;
    background-color: gray;
    color: white;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #0080ff;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: black;
}

    .custom-file-upload:hover {
        background-color: #0080ff;
        color: white;
    }



@media only screen and (max-width: 1050px) {
    body {
        font-size: 13px;
    }
}


