body {
}

/* The Modal (background) */
#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 10;
}

#ModalRevisao {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 10;
}

#FundoModalRevisao {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    height: 450px;
    width: 500px;
    z-index: 9999 !important;
    border-radius: 5px;
}

#modal-dialog {
    background-color: none;
    border: none;
    height: none;
    z-index: 9999 !important;
    display: none;
}



/* Modal Content */
#FundoModal {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    height: 500px;
    width: 70%;
    z-index: 9999 !important;
    border-radius: 5px;
}

/* The Close Button */
#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    #close:hover,
    #close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-backdrop.show {
    z-index: auto;
}

.botaoImg:hover {
    background-color: grey;
    cursor: pointer
}


#ModalAgendamento {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 10;
}


#FundoModalAgendamento {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    height: 450px;
    width: 600px;
    z-index: 9999 !important;
    border-radius: 5px;
}

#FundoModalAprovado {
    background-color: #fefefe;
    margin:  auto;
    border: 1px solid #888;
    height: 350px;
    width: 500px;
    z-index: 9999 !important;
    border-radius: 5px;

}


#ModalAprovado {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 10;
}

#FundoTabela {
    width: 80%;
    background-color: #212529;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}

.table {
    width: 100%;
    margin: auto;
    position: relative;
    top:10px;
 
}

#teste {
    height: 40px;
    background-color: #212529;
    border-radius:10px;
}


input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #0080ff;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: black;
    top: 20px;
    position: relative;
}

    .custom-file-upload:hover {
        background-color: #0080ff;
        color: white;
    }

#name {
    border: none;
    border-bottom: solid 1px black;
    outline: none;
    width: 170px;
    top: 20px;
    position: relative;
}