
#FundoAnteRegras {
    width: 60%;
    margin: auto;
    background-color: white;
    height: 520px;
    border-radius: 10px;
}

#VoltIcoRegras {
    float: left;
    width: 35px;
    height: 35px;
}

#BotProxAnte {
    color: white;
    background-color: black;
    margin: auto;
    display: flex;
    position: relative;
}

@media only screen and (min-width: 1011px){

    #BotProxAnte{
        top:6px;
    }
}

@media only screen and (max-width: 1010px) {

    p {
        font-size: 15px;
    }

    h1 {
        font-size: 30px;
    }

    #FundoAnteRegras {
        height: 500px;        
    }

    #VoltIcoRegras {
        width: 33px;
        height: 33px;
    }

    #BotProxAnte{
        bottom:0px;       
    }
}

@media only screen and (max-width: 895px)
{
    #FundoAnteRegras {
        width: 70%;
        
    }
}

@media only screen and (max-width: 850px) {

    p {
        font-size: 14px;
    }


    h1 {
        font-size: 25px;
    }

    #FundoAnteRegras {
        height: 470px;
        width:75%;
    }

    #VoltIcoRegras {
        width: 28px;
        height: 28px;
    }

    #BotProxAnte{
        width:70px;
        font-size:12px;
        
        
    }
}

@media only screen and (max-width: 767px){

    #BotProxAnte{
        top:8px;
    }
}

@media only screen and (max-width: 670px) {

    p {
        font-size: 13px;
    }

    h1 {
        font-size: 18px;
    }

    #FundoAnteRegras {
        height: 440px;
        width:95%;
    }

    #BotProxAnte {
        
        top: 5px;
    }
}

@media only screen and (max-width: 626px){

    #BotProxAnte{
        top:10px;
        
    }

    #FundoAnteRegras{
        height:450px;
    }
}

@media only screen and (max-width: 494px){

    #FundoAnteRegras{
        height:460px;
    }

    #BotProxAnte{
        top:2px;
    }
}
