
#FundoTCCRegras {
    width:60%;
    margin:auto;
    background-color:white;
    height:520px;
    border-radius:10px;
}

#VoltIcoRegras {
    float:left;
    width:35px;
    height:35px;
}

#BotProx {
    color: white;
    background-color: black;
    margin: auto;
    display: flex;
    bottom: 5px;
    position: relative;
}

@media only screen and (max-width: 1110px) {
    p{
        font-size:15px;
    }

    h1{

        font-size:30px;

    }
    #VoltIcoRegras{
    width:33px;
    height:33px;
    }

    #BotProx{
        top:5px;
    }
}

@media only screen and (max-width: 1010px) {

    p {
        font-size: 15px;
    }

    h1 {
        font-size: 25px;
    }

    #FundoTCCRegras{
    height:500px;
    width: 75%;
    }

    #VoltIcoRegras {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 850px) {

    p {
        font-size: 14px;
    }

    h1 {
        font-size: 25px;
    }

    #FundoTCCRegras {
        height: 480px   ;
    }

    #VoltIcoRegras {
        width: 28px;
        height: 28px;
    }

    #BotProx {
        width: 70px;
        font-size: 12px;
    }

}

@media only screen and (max-width: 800px) {

    #FundoTCCRegras{
        width:85%;
    }
}

@media only screen and (max-width: 767px) {
    #BotProx {
        width: 70px;
        font-size: 12px;
        top:12px;
    }
}

@media only screen and (max-width: 670px) {

    p {
        font-size: 13px;
    }

    h1 {
        font-size: 22px;
    }

    #FundoTCCRegras {
        width: 95%;
        height: 450px;
    }

    #BotProx{
    top:5px;
    }
}

@media only screen and (max-width: 632px) {

    #BotProxAnte {
        top: 15px;
    }

    #FundoTCCRegras{
        
        
        height:460px;
    }
}

@media only screen and (max-width: 552px){

    #BotProx{
                  
    }

    #FundoTCCRegras{
        height:480px;
    }
}

@media only screen and (max-width: 469px){

    #FundoTCCRegras{
        height:490px;
    }
}