html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-bottom:10px;
}

html, body, #page {
    height: 100%;
    
}

#GerenciamentoAtividadesHeader {
    font-size:25px;
    margin-left:30px; 
    color:white;
}

@media only screen and (max-width: 980px) {
    #GerenciamentoAtividadesHeader {
        font-size: 20px;
        margin-left: 30px;
        color: white;
    }
}

@media only screen and (max-width: 877px) {
    #GerenciamentoAtividadesHeader {
        font-size: 15px;
        margin-left: 30px;
        color: white;
    }
}



