

<div id="FundoTrocarSenha" style="background-color:white;width:600px;height:500px;margin:auto;">
    <div class="modal-header">

    <h1 style="text-align: center;margin:auto;position:relative;">Alterar Senha</h1>


</div >

<div class="modal-body">
    <center>
        <img src="/Imagens/reset-password (1).png" style="width: 170px;height: 180px; position: relative;display:block;" class="center" />
    </center>

            <label style="float:left;display:block;position:relative;top:30px;">E-mail</label>
            <div class="col-1">
            <input style="width:200px;display:block;position:relative;float:left;top:30px;" class="form-control" type="email" placeholder="email@@.com" required/>
            </div>
</div>
    <div class="modal-footer" style="position:relative;top:80px;margin:auto;width:100%">
        <button type="button" class="btn" style="color:white;background-color:black;margin:auto;">Enviar </button>
</div>
</div>