<head>

    <link rel="stylesheet" href="/css/EdiçãoRegras.css" asp-append-version="true" />

</head>

<div id="FundoEdiçãoRegras">
    <div class="modal-header">
        <a style="float:left;width:35px;height:35px; margin-left:10px;" href="/Home/Index">
            <img src="/Imagens/botao-voltar.png" style="float:left;width:35px;height:35px;" />
        </a>
        <h1 style="margin:auto;position:relative;">Editar Regras</h1>
    </div>
                    
    <table style="width:100%;">
        <thead>
            <tr>
            <th scope="col">Regra</th>
            <th scope="col" style="position:relative;float:right">Excluir</th>
            <th scope="col" style="position:relative;text-align:end;">Editar</th>
        </tr>
        </thead>


        <tbody>
            <tr>
        <th scope="row">222222222222222222222</th> 
        <td ><img src="/Imagens/trash-can.png" style="width:20px;margin-right:10px;float:right;" /></td>
        <td><img src="/Imagens/pencil.png" style="width:20px;float:right;margin-right:10px;" /> </td>

            </tr>

            <tr>
                <th scope="row">211111111111111</th>
                <td><img src="/Imagens/trash-can.png" style="width:20px;float:right;margin-right:10px;" /></td>
                <td><img src="/Imagens/pencil.png" style="width:20px;float:right;margin-right:10px;" /> </td>
            </tr>

        </tbody>

    </table>

            
   

    

    </div>


