<head>

    <link rel="stylesheet" href="/css/EdiçãoRegras.css" asp-append-version="true" />

</head>

<div id="FundoEdiçãoRegras">
    <div class="modal-header">
        <a style="float:left;width:35px;height:35px; margin-left:10px;" href="/Home/Index">
            <img src="/Imagens/botao-voltar.png" style="float:left;width:35px;height:35px;" />
        </a>
        <h1 style="margin:auto;position:relative;">Editar Regras</h1>
    </div>

    <table>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Anteprojeto</th>
                <th scope="col">Trabalho de Conclusão de Curso</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
                <th scope="col"></th>
    </tr>
      </thead>
      


    <tbody>
        <tr>
                <th scope="row">testew</th>
                <td scope="col"><input type="checkbox" style="position:relative;margin:auto;" /></td>
                <td scope="col"><input type="checkbox" style="position:relative;margin:auto;" /></td>
                <td><img src="/Imagens/trash-can.png" style="position:relative;float:right;width:20px;margin-right:20px;"/></td>
                <td><img src="/Imagens/pencil.png" style="position:relative;float:right;margin-right:20px;width:20px;"/> </td>
                </tr>
        </tbody>

    <div class="modal-footer" style="position:relative;top:10px;padding-top:30px;width:100%;">
        <a href="/Enviar/EnviarTCC" style="text-decoration:none;margin:auto;position:relative;bottom:10px;background-color:black;color:white;" class="btn"> Alterar
        </a>
    </div>
    

    </table>
    </div>


