@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="text-align: center; margin-left: 6%; width: 88%;">
    <form action="/Home/Login" method="post" style="">
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">RA ou Lattes</label>
            <input type="text" class="form-control" id="recipient-name" name="usuario">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" name="senha">
        </div>
        <div class="mb-3 form-check">
            <input onclick="showHide()" type="checkbox" class="form-check-input" id="check">
            <label class="form-check-label" for="exampleCheck1">Exibir senha</label>
        </div>
        <button style="background-color:black; color:white; width:25%; transform: translate(145%);"
                type="submit" class="btn">
            Entrar
        </button>
        </br>


        <p style="float:left;display:inline;position:relative;display:flex;top:10px;">
            Não possui conta?
            <a href="/Cadastro/TipoCadastro">
                Clique aqui
            </a>
        </p>
        <br />
        <br />
        <p style="float:left;display:inline;position:relative;display:flex;bottom:10px;">
            Esqueci minha senha
            <a href="/Cadastro/Cadastro">
                Clique aqui
            </a>
        </p>
    </form>
</div>