<head>

    <link rel="stylesheet" href="/css/Gerenciador_Atividades_Curriculares.css" asp-append-version="true" />

</head>


<div id="FundoTabela">
<table class="table">
    <thead class="table-dark">
        <tr style="border-radius:10px;">
            <th scope="col">Curso</th>
            <th scope="col">Nome do Aluno</th>
            <th scope="col">RA</th>
            <th scope="col">Titulo</th>
            <th scope="col">Data de Envio</th>
            <th scope="col">Revisão</th>
            <th scope="col">Agendamento</th>
            <th scope="col">Aprovação</th>
            <th scope="col"></th>

        </tr>
    </thead>

        <tbody style="background-color:white;border-radius:10px;height:40px;">

            <tr>

        <th scope="row" >1</th> 
        <td>Mark</td>
        <td>Otto</td>
        <td>do</td>
        <td>do</td>
        <td><input type="checkbox"/></td>
        <td><input type="checkbox"/></td>
        <td><input type="checkbox"/></td>
        <td><a id="eyes"><img src="/Imagens/eye.png" style="width:20px;height:30px;width:25px;"/></a> </td> 

            </tr>



    </tbody>

    </table>
    </div>





















   <!--Modal com as informações-->
<div class="modal" id="Modal4" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aubrey Drake "Drizzy" Graham</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                SOMETHING
            </div>
        </div>
    </div>
    </div>