<head>

    <link rel="stylesheet" href="/css/Gerenciador_Atividades_Curriculares.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>

<style>
   
    /* The Modal (background) */
    #myModal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        z-index: 10;
    }

    #modal-dialog {
        background-color: none;
        border: none;
        height: none;
        z-index: 9999 !important;
        display:none;
    }



    /* Modal Content */
    #FundoModal {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        height:500px;
        width:70%;
        z-index: 9999 !important;
        border-radius:5px;
    }

    /* The Close Button */
    #close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        #close:hover,
        #close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .modal-backdrop.show {
        z-index: auto;
    }

</style>

<div id="FundoTabela">
<table class="table">
    <thead class="table-dark">
        <tr style="border-radius:10px;">
            <th scope="col">Curso</th>
            <th scope="col">Nome do Aluno</th>
            <th scope="col">RA</th>
            <th scope="col">Titulo</th>
            <th scope="col">Data de Envio</th>
            <th scope="col">Revisão</th>
            <th scope="col">Agendamento</th>
            <th scope="col">Aprovação</th>
            <th scope="col"></th>

        </tr>
    </thead>

        <tbody style="background-color:white;border-radius:10px;height:40px;">

            <tr>

        <th scope="row" >1</th> 
        <td>Mark</td>
        <td>Otto</td>
        <td>do</td>
        <td>do</td>
        <td><img src="/Imagens/Aguardando icon.png" style="width:20px;"/></td>
        <td><img src="/Imagens/Aguardando icon.png" style="width:20px;"/></td>
        <td><img src="/Imagens/Aguardando icon.png" style="width:20px;"/></td>
                <td>
   
                    <a data-target="#myModal" data-toggle="modal">
                        <image type="button" src="/Imagens/eye.png" style="width:20px;height:30px;width:25px;" id="eyes" />
                    </a>
                </td>
            </tr>



    </tbody>

    </table>
    </div>

<div id="myModal" class="modal" aria-hidden="true" aria-labelledby="myModal">
    <div id="FundoModal">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel" style="margin:auto;">Dados Do Projeto</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <label>Nome:</label> 


                </div>
             
            </div>
        </div>
