@{
    ViewData["Title"] = "Home Page";
}

<head>

    <link rel="stylesheet" href="/css/Index.css" asp-append-version="true" />

</head>

@if (TempData["erro"] != null)
{
    <div class="alert alert-danger" style="width: 90%; margin-left: 5%;">
        <p>@TempData["erro"]</p>
    </div>
}

<div id="IndexTotal1">
    <div class="card">
        <div class="card-body">
            <p>
                <center>
                    <p id="Atencao"><b><u>Atenção</u><img src="/Imagens/exclamation.png" id="Exclamacao" /></b></p>
                </center>
            <p id="Prazo"><u>Prazo após apresentação:</u></p>

            <p>
                Depois de apresentar seu trabalho, o aluno tem 30 dias de prazo para providenciar as correções sugeridas pelos professores aos
                membros da banca.
            </p>
            <br />
       </div>
   </div>
</div>
         

<div id="IndexTotal2">
    <div id="IndexTotal2_Quad" class="card" >
        <div class="card-body" >
           
            <p class="card-text">                
                <a onclick="trocar()" style="font-size:20px; color: black; float:left" class="card-text nav-link" type="button" data-bs-toggle="collapse" href="#Hide1" 
                role="button" aria-expanded="false" aria-controls="collapseExample">
                Anteprojeto
                    <img id="Flecha" style="" src="/Imagens/Icon_Flecha2.png" type="buttom" />                    
                </a>
                <a style="float:right; text-decoration:none; color:black;" href="/Home/RegrasAnteprojeto">                    
                    <img style="margin-top:0.9rem" type="button" src="/Imagens/Icon_Add.png" width="25rem"/>
                    <p type="button" style="margin-right:2rem; margin-top:0.8rem; font-size:15px">Enviar Arquivo</p>
                </a>
            </p> 
            </br>
            <hr style="" class="border border-dark border-1 opacity-100">

            <div class="collapse" id="Hide1">
                <div class="card card-body">
                    O Anteprojeto é um documento exigido ao aluno que pretende desenvolver a monografia para 
                    conclusão de curso, como um meio de avaliação do tema proposto.
                </div>
            </div>

           
            
        </div>
    </div>
</div>
<div style="margin-left:20%; margin-right:20%; width:50px;visibility:visible;">
   
</div>

<div id="IndexTotal3" >
    <div id="IndexTotal3_Quad" class="card" >
        <div class="card-body">
            
            <p class="card-text">
                <a onclick="trocar2()" style="font-size:20px; color: black; float:left;" class="card-text nav-link" type="button" data-bs-toggle="collapse" href="#Hide2"
                   role="button" aria-expanded="false" aria-controls="collapseExample">
                    Trabalho de Conclusão de Curso
                    <img id="Flecha2" style="" src="/Imagens/Icon_Flecha2.png" type="buttom" />
                </a>
                <a style="float:right;text-decoration:none;color:black;" href="/Home/RegrasTCC">
                    <img style="margin-top:0.9rem" type="button" src="/Imagens/Icon_Add.png" width="25rem" />
                    <p style="margin-right:2rem; margin-top:0.8rem; font-size:15px">Enviar Arquivo</p>
                </a>
            </p>
            </br>
            <hr style="" class="border border-dark border-1 opacity-100">

            <div class="collapse" id="Hide2" style="">
                <div  class="card card-body">
                    Um trabalho de conclusão de curso de graduação é uma etapa obrigatória para o término do curso, muito importante no
                    âmbito acadêmico. Ele se constitui de um trabalho único, com conteúdo aprofundado, capaz de mostrar problemas e
                    apresentar soluções, como também o desenvolvimento de novas abordagens, a fim de contribuir para o desenvolvimento
                    e crescimento da área estudada, da profissão escolhida e do nível de conhecimentos teóricos e práticos do aluno. Ao término
                    da elaboração do trabalho de conclusão, o aluno realizará a exposição através de uma arguição a uma banca de professores,
                    expondo as motivações para elaboração de seu trabalho, seu processo de pesquisa e seus resultados. Após a arguição, o
                    professor orientador deverá entregar ao aluno as cópias dos membros da banca, para que possa realizar as correções
                    necessárias.                    

                </div>
                
            </div>

            
            

        </div>
    </div>
</div>


    

