<head>

    <link rel="stylesheet" href="/css/EdiçãoRegras.css" asp-append-version="true" />

</head>
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;); margin-left:20px;" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Index" style="color:#00648C; text-decoration:none">Página Inicial</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/Home/RegrasAnteprojeto" style="color:#00648C; text-decoration:none">Regras Anteprojeto</a></li>
        <li class="breadcrumb-item active" aria-current="page">Listar Regras</li>
    </ol>
</nav>

<div id="FundoEdiçãoRegras">
    <div class="modal-header">
        <a style="float:left;width:35px;height:35px; margin-left:10px;" href="/Home/RegrasAnteprojeto">
            <img src="/Imagens/botao-voltar.png" style="float:left;width:35px;height:35px;" />
        </a>
        <h1 style="margin:auto;position:relative;">Regras</h1>
        <a style="float:right; text-decoration:none; color:black;" href="/Home/CriarRegra">
            <img style="margin-top:0.9rem" type="button" src="/Imagens/Icon_Add.png" width="25rem" />
        </a>
    </div>
                    
    <table style="width:96%; margin-left:2%;margin-right:2%;margin-top: 2%;" class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Número</th>
                <th scope="col">Regra</th>
                <th scope="col" style="position:relative;">Excluir</th>
                <th scope="col" style="position:relative;text-align:end;">Editar</th>
            </tr>
        </thead>


        <tbody>
            @foreach (var item in Model)
            {
                <tr style="height: 28px;">
                    <td>@item.Id</td>
                    <td>@item.Regra</td>
                    <td><a href="/Home/RemoverRegra/@item.Id"><img src="/Imagens/trash-can.png" style="width:20px;margin-right:10px;float:right;" /></a></td>
                    <td><a href="/Home/AlterarRegra/@item.Id"><img src="/Imagens/pencil.png" style="width:20px;float:right;margin-right:10px;" /></a></td>
                </tr>
            }
        </tbody>

    </table>

            
   

    

    </div>


