<head>

    <link rel="stylesheet" href="/css/RegrasAnteprojeto.css" asp-append-version="true" />

</head>

<div id="FundoAnteRegras">
    <div class="modal-header">
        <a style="float:left;width:35px;height:35px; margin-left:10px;" href="/Home/Index">
            <img src="/Imagens/botao-voltar.png" style="float:left;width:35px;height:35px;" />
        </a>
        <h1 style="margin:auto;">Anteprojeto</h1>
    </div>
    <div style="margin-left:30px;line-height: 1;padding-top:10px;">
        <p>Para o envio deste, será necessário que as seguintes regras sejam cumpridas:</p>
        <p>1 - Não abrevie as informações;</p>
        <p>2 - Preencha seus dados pessoais e contatos telefônicos;</p>
        <p>3 - Email valido e que você acesse frequentemente;</p>
        <p>4 - Informe seu RA da Fatec;</p>
        <p>5 - Informe o nome completo do seu Orientador;</p>
        <p>6 - O titulo do seu trabalho de Graduação deve ser exatamente igual ao do seu trabalho;</p>
        <p>7 - Arquivo com o Anteprojeto deve ser em: PDF ou WORD.</p>        
        <p>8 - Tamanho maximo dos Arquivos: 10mb;</p>
        
        <p>Ex. fulano de tal - trabalho.pdf / fulano de tal-autorizacao.docx</p>

    </div>
    <div class="" style="position:relative;top:30px;">
    <a href="/Enviar/EnviarAnteprojeto" style="text-decoration:none;visibility:hidden;margin:auto;">
    <button id="BotProxAnte" href="" class="btn" style="visibility:visible;" >Proximo</button>
    </a>
    </div>
</div>

