<head>

    <link rel="stylesheet" href="/css/RegrasAnteprojeto.css" asp-append-version="true" />

</head>

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;); margin-left:20px;" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Index" style="text-decoration:none; color:#00648C;">Página Inicial</a></li>
        <li class="breadcrumb-item active" aria-current="page">Regras Anteprojeto</li>
    </ol>
</nav>

<div id="FundoAnteRegras">
    <div class="modal-header">
        <a style="float:left;width:35px;height:35px; margin-left:10px;" href="/Home/Index">
            <img src="/Imagens/botao-voltar.png" style="float:left;width:35px;height:35px;" />
        </a>
        <h1 style="margin:auto;">Anteprojeto</h1>
    </div>
    <div style="margin-left:30px;line-height: 1;padding-top:10px;">
        <p>Para o envio deste, será necessário que as seguintes regras sejam cumpridas:</p>
        <p>1 - Não abrevie as informações;</p>
        <p>2 - Preencha seus dados pessoais e contatos telefônicos;</p>
        <p>3 - Email valido e que você acesse frequentemente;</p>
        <p>4 - Informe seu RA da Fatec;</p>
        <p>5 - Informe o nome completo do seu Orientador;</p>
        <p>6 - O titulo do seu trabalho de Graduação deve ser exatamente igual ao do seu trabalho;</p>
        <p>7 - Arquivo com o Anteprojeto deve ser em: PDF ou WORD.</p>        
        <p>8 - Tamanho maximo dos Arquivos: 10mb;</p>
        
        <p>Ex. fulano de tal - trabalho.pdf / fulano de tal-autorizacao.docx</p>

        
    
    <div class="modal-footer" style="position:relative;top:30px;">
        <a href="/Enviar/EnviarAnteprojeto" style="text-decoration:none;visibility:hidden;margin:auto;">
            <button id="BotProxAnte" href="" class="btn" style="visibility:visible; box-shadow:none;" >Proximo</button>
        </a>
    </div>
</div>



