@model List<Projeto_DAFT.Entidades.RegraEntidade>
<head>

    <link rel="stylesheet" href="/css/RegrasAnteprojeto.css" asp-append-version="true" />

</head>

<div id="FundoAnteRegras">
    <div class="modal-header">
        <a style="float:left;width:35px;height:35px; margin-left:10px;" href="/Home/Index">
            <img src="/Imagens/botao-voltar.png" style="float:left;width:35px;height:35px;" />
        </a>
        <h1 style="margin:auto;">Anteprojeto</h1>
    </div>
    <div style="margin-left:30px;line-height: 1;padding-top:10px;">
        <p>Para o envio deste, será necessário que as seguintes regras sejam cumpridas:</p>
        @foreach (var item in Model)
        {
            <p>@item.Id - @item.Regra;</p>
        }
    </div>
    <div class="modal-footer" style="position:relative;top:30px;">
    <a href="/Enviar/EnviarAnteprojeto" style="text-decoration:none;visibility:hidden;margin:auto;">
    <button id="BotProxAnte" href="" class="btn" style="visibility:visible;" >Proximo</button>
    </a>
    </div>
</div>

