<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projeto_DAFT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projeto_DAFT.styles.css" asp-append-version="true" />

</head>
<body style="background-color:#E9E9E9">
    <div style="min-height:calc(100vh - 100px);">
    <header >
        <nav style="background-color:#00648C; height:80px;" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div style="position:relative;width:90%;margin-right:5%;margin-left:5%;" class="container-fluid">
                <a href="https://www.fatectq.edu.br/" target="_blank">
                <img class="navbar-brand" width="120px;" src="/Imagens/Logo_Fatec.png" asp-area="" asp-controller="Home" asp-action="Index">
                </a>
                <a href="/Home/Index">
                    <img src="/Imagens/Logo_DAFT.png" width="130px" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                </a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li  class="nav-item">
                            
                            <a id="GerenciamentoAtividadesHeader" class="nav-link" asp-area="" asp-controller="Home" asp-action="Gerenciador_Atividades_Curriculares">Gerenciamento de Atividades Curriculares</a>
                            
                        </li>
                        
                    </ul>
                    <li class="navbar nav-item">
                        <a>
                        <img type="button" src="/Imagens/Login.png" width="85px" data-bs-toggle="modal" 
                        data-bs-target="#ModalLogin" style="position:relative;margin-left:30%;" class="btn nav-link text-dark" asp-area="">

                            <div class="modal fade" id="ModalLogin" tabindex="-1" aria-labelledby="ModalLoginLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div style="border-radius:10px; height:640px" class="modal-content">
                                        <div class="modal-header">
                                            
                                               <h1 style="transform:translate(368%)" class="modal-title fs-5" id="ModalLoginLabel">Entrar</h1>
                                           
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="navbar">
                                                <img style="transform: translate(65%)" width="200px" src="/Imagens/Icon_ModalLogin.png"/>
                                            </div>
                                            <form>
                                                <div class="mb-3">
                                                    <label for="recipient-name" class="col-form-label">Nome</label>
                                                    <input type="text" class="form-control" id="recipient-name" >
                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                                                    <input type="password" class="form-control" id="password" >                                                    
                                                </div>
                                                <div class="mb-3 form-check">
                                                    <input onclick="showHide()" type="checkbox" class="form-check-input" id="check">
                                                    <label class="form-check-label" for="exampleCheck1">Exibir senha</label>
                                                </div>
                                            </form>
                                                                                                                          
                                            <button style="background-color:black; color:white; width:25%; transform: translate(145%);" 
                                            type="button" class="btn">Entrar</button>
                                            </br>

                                       
                                            <p style="float:left;display:inline;position:relative;display:flex;top:10px;">Não possui conta?
                                                <a href="/Cadastro/Cadastro">
                                                    Clique aqui 
                                                </a>
                                            </p>
                                            <br />
                                            <br />
                                            <p style="float:left;display:inline;position:relative;display:flex;bottom:10px;">
                                                Esqueci minha senha 
                                                <a href="/Cadastro/Cadastro">
                                                     Clique aqui
                                                </a>
                                            </p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </div>
                <a>
                    
                </a>
            </div>
        </nav>
    </header>

           
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        </div>


        <footer style="background-color: #00648C; height: 100px; width: 100%;position:relative;bottom:0;">
    <p>Fala que deu certoooooooooo!</p>
</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



