<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projeto_DAFT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projeto_DAFT.styles.css" asp-append-version="true" />
</head>
<body style="background-color:#E9E9E9">
    <header >
        <nav style="background-color:#00648C; height:80px;" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div style="margin-left:80px; margin-right:70px" class="container-fluid">
                <a href="https://www.fatectq.edu.br/" target="_blank">
                <img class="navbar-brand" width="120px;" src="/Imagens/Logo_Fatec.png" asp-area="" asp-controller="Home" asp-action="Index">
                </a>
                <a href="/Home/Index">
                    <img src="/Imagens/Logo_DAFT.png" width="130px" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                </a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li  class="nav-item">
                            
                            <a style="font-size:25px; margin-left:30px; color:white;" class="nav-link" asp-area="" asp-controller="Home" asp-action="Gerenciador_Projetos">Gerenciamento de Projetos</a>
                            
                        </li>
                        
                    </ul>
                    <li class="navbar nav-item">
                        <a>
                        <img type="button" src="/Imagens/Login.png" width="85px" data-bs-toggle="modal" 
                        data-bs-target="#ModalLogin" style="margin:0 auto" class="btn nav-link text-dark" asp-area="">

                            <div class="modal fade" id="ModalLogin" tabindex="-1" aria-labelledby="ModalLoginLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div style="border-radius:10px; height:620px" class="modal-content">
                                        <div class="modal-header">
                                            
                                               <h1 style="transform:translate(368%)" class="modal-title fs-5" id="ModalLoginLabel">Entrar</h1>
                                           
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="navbar">
                                                <img style="transform: translate(65%)" width="200px" src="/Imagens/Icon_ModalLogin.png"/>
                                            </div>
                                            <form>
                                                <div class="mb-3">
                                                    <label for="recipient-name" class="col-form-label">Nome</label>
                                                    <input type="text" class="form-control" id="recipient-name" >
                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                                                    <input type="password" class="form-control" id="password" >                                                    
                                                </div>
                                                <div class="mb-3 form-check">
                                                    <input onclick="showHide()" type="checkbox" class="form-check-input" id="check">
                                                    <label class="form-check-label" for="exampleCheck1">Exibir senha</label>
                                                </div>
                                            </form>
                                                                                                                          
                                            <button style="background-color:black; color:white; width:25%; transform: translate(145%);" 
                                            type="button" class="btn">Entrar</button>
                                            </br>
                                            </br>
                                            <p style="float:left">Não possui conta?
                                                <a href="/Cadastro/Cadastro">
                                                    Clique aqui
                                                </a>
                                            </p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </div>
                <a>
                    
                </a>
            </div>
        </nav>
    </header>

    <div class="container">        
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background-color: #00648C;" class="border-top footer text-muted">
        <div style="margin-left:80px; margin-right:80px; height: 5px" class="navbar-brand">
            <div style="float:left" class="nav flex-column">
                <a class="nav-link" type="text" style="color:white; margin-top:-1rem; font-size:14px">Criado por:</a>
                <a class="nav-link" type="text" style="color:white; margin-top:-3.5rem; font-size:15px">Alexandre Santos</a>             
                <a class="nav-link" type="text" style="color:white; margin-top:-3.5rem; font-size:15px">Arthur Durante</a>             
                <a class="nav-link" type="text" style="color:white; margin-top:-3.5rem; font-size:15px">Eduardo Berlardinuci</a>
            </div>
            <div style="float:left" class="nav flex-column">
                <a class="nav-link" type="text" style="color:white; margin-top:-1rem; font-size:14px">Fernando Santos</a>
                <a class="nav-link" type="text" style="color:white; margin-top:-3.5rem; font-size:15px">Gabriel Marcondes</a>
                <a class="nav-link" type="text" style="color:white; margin-top:-3.5rem; font-size:15px">Lucas Seixas</a>
                <a class="nav-link" type="text" style="color:white; margin-top:-3.5rem; font-size:15px">Vinicius Lessa</a>
            </div>
            <div class="nav flex-column" style="float:right">
                <p style="color:white; margin-top:0.5rem; font-size:14px">Email para contato:</p>
                <a style="color:white; margin-top:-2.5rem; margin-right:1.5rem; font-size:14px">projeto.daft@gmail.com</a>
            </div>
            <div class="navbar flex-column" style="margin-top:1.5rem;">
                <a style="margin-left:-1rem; color: white;">                  
                   <u>Ajuda</u>                  
                </a>
            </div>
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

