<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projeto_DAFT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projeto_DAFT.styles.css" asp-append-version="true" />
</head>
<body style="background-color:#E9E9E9">
    <div style="min-height:calc(100vh - 100px);">
    <header >
        <nav style="background-color:#00648C; height:80px;" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div style="margin-left:80px; margin-right:70px" class="container-fluid">
                <a href="https://www.fatectq.edu.br/" target="_blank">
                <img class="navbar-brand" width="120px;" src="/Imagens/Logo_Fatec.png" asp-area="" asp-controller="Home" asp-action="Index">
                </a>
                <a href="/Home/Index">
                    <img src="/Imagens/Logo_DAFT.png" width="130px" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                </a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li  class="nav-item">
                            
                            <a id="GerenciamentoAtividadesHeader" class="nav-link" asp-area="" asp-controller="Home" asp-action="Gerenciador_Atividades_Curriculares">Gerenciamento de Atividades Curriculares</a>
                            
                        </li>
                        
                    </ul>
                    
                </div>
            </div>           
        </nav>
    </header>

         
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background-color: #00648C; height: 100px; width: 100%;position:relative;bottom:0;">
        <div id="Creditos1" style="color:white; position:absolute;margin-left:5%;top:15px;">
            <p style="line-height:0px;">Criado por:</p>
            <p style="line-height:6px;">Alexandre <a href="Mailto:roge.lamas@fatectq.edu.gov.br">Santos</a></p>
            <p style="line-height:6px;">Arthur Durante</p>
            <p style="line-height:6px;">Eduardo Berlardinuci</p>
        </div>

        <div id="Creditos2" style="color:white; position:absolute;margin-left:5%;top:15px;left:155px;">
            <p style="line-height:0px;">Fernando Santos</p>
            <p style="line-height:6px;">Gabriel Marcondes</p>
            <p style="line-height:6px;">Lucas Seixas</p>
            <p style="line-height:6px;">Vinicius Lessa</p>
        </div>

        <div>
            <p id="EmailT" style="">Email para Contato: <a id="EmailL" style="" href="Mailto:projeto.daft@gamil.com">projeto.daft@gmail.com</a></p>
        </div>




    </footer>
    
            
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
</body>
</html>

