<head>

    <link rel="stylesheet" href="/css/EnviarTCC.css" asp-append-version="true" />

</head>

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;); margin-left:20px;" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Index" style="color:#00648C; text-decoration:none">Página Inicial</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/Home/RegrasTCC" style="color:#00648C; text-decoration:none">Regras Trabalho de Conclusão de Curso</a></li>
        <li class="breadcrumb-item active" aria-current="page">Enviar Trabalho de Conclusão de Curso</li>
    </ol>
</nav>

<div id="FundoTCCEnviar">
    <div class="modal-header">
        <a style="float:left;width:35px;height:35px; margin-left:10px;" href="/Home/RegrasTCC">
            <img src="/Imagens/botao-voltar.png" style="float:left;width:35px;height:35px;" />
        </a>
        <h1 style="margin:auto; font-size:35px;">Enviar Trabalho de Conclusão de Curso</h1>
    </div>

        <form>
        <div id="form1">

        <div class="modal-body" style="border:none;">

                <div class="row" style="position:relative;">
                    <h5 style="">Dados Pessoais</h5>

                    <div class="col">
                        <label for="validationCustom04" class="form-label">Nome Completo</label>
                        <input type="text" class="form-control" name="nome" />

                    </div>
                    <div class="col">
                        <label for="validationCustom04" class="form-label">Telefone</label>
                        <input type="number" class="form-control" name="telefone" />

                    </div>
                    <div class="col">
                        <label for="validationCustom04" class="form-label">Email</label>
                        <input type="text" class="form-control" name="email" />

                    </div>
                </div>
            
            <div class="row">
                <h5 style="margin-top:20px;">Dados Academicos</h5>
                <div class="col">
                    <label for="validationCustom04" class="form-label">Curso</label>

                    <select class="form-select" id="validationCustom04" required>
                        <option selected disabled style="visibility:hidden; display:none">Selecione o Curso...</option>
                        <option value="">Agronegócio</option>
                        <option>Análise e Desenvolvimento de Sistemas</option>
                        <option>Gestão Empresarial (EaD)</option>
                        <option>Produção Industrial</option>
                        <option>Sistemas para Internet</option>
                    </select>

                </div>
                <div class="col">
                    <label for="validationCustom05" class="form-label">Turno</label>
                    <select class="form-select" id="validationCustom04" required>
                        <option value="" style="visibility:hidden; display:none;">Selecione o turno...</option>
                        <option value="">Manhã</option>
                        <option value="">Tarde</option>
                        <option value="">Noite</option>
                    </select>

                </div>

                <div class="col">
                    <label for="validationCustom05" class="form-label">Orientador</label>
                    <select class="form-select" id="validationCustom04" required>
                        <option value="" style="visibility:hidden; display:none;">Selecione o Orientador...</option>
                        <option value="">Carlos</option>
                        <option value="">Daniela</option>
                        <option value="">Fernando</option>
                    </select>
                </div>
            </div>


            <div class="row" style="position:relative;top:10px;">

                <div class="col">
                    <label for="validationCustom04" class="form-label">Titulo</label>
                    <input type="text" class="form-control" name="titulo" />

                </div>
                <div class="col">
                    <label for="validationCustom04" class="form-label">Observações</label>
                    <input type="text" class="form-control" name="observações" style="float:right;" />

                </div>

                <div class="col">
                    <label for="validationCustom04" class="form-label">RA</label>
                    <input type="number" class="form-control" name="ra" style="float:right;" />
                </div>
            </div>

            <div class="row" style="position:relative;top:20px;">

                <div class="col">
                    <label for="validationCustom04" class="form-label">Semestre Atual</label>
                    <input type="text" class="form-control" name="semestreatual" />

                </div>
                <div class="col">
                    <label for="validationCustom04" class="form-label">Inicio do Semestre</label>
                    <input type="date" class="form-control" name="semestreinicio" style="float:right;" />

                </div>

                <div class="col">
                    <label for="validationCustom04" class="form-label">Fim do Semestre</label>
                    <input type="date" class="form-control" name="semestrefim" style="float:right;" />
                </div>
            </div>
                
  </div>
</div>
                
            <div style="display:none;" id="form2">
              <div class="modal-body" >
                <div class="row" style="padding-left:20px; ">
                    <div class="col" style="">
                        <label for="validationCustom04" class="form-label">Tipo de Envio</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Versão Final
                            </label>
                        </div>
                        <div class="form-check" style="padding-top:10px;">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Primeira Entrega
                            </label>
                        </div>
                        <div class="form-check" style="padding-top:10px;">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Com Certificado de Publicação
                            </label>
                        </div>
                    </div>
                    <div class="col" style="margin-left:250px;" >
                        <label for="validationCustom04" class="form-label">Disponibilidade para Defesa</label>
                        <div class="col" style="padding-left:80px; position:relative;">
                            <p style="float:left;">Manhã</p>
                            <p style="float:left; padding-left:15px;">Tarde</p>
                            <p style="float:left; padding-left:15px; padding-right:15px;">Noite</p>
                            <p style="">Não</p>
                        </div>
                        <div class="col">                            
                            <p style="position:relative;">Segunda
                                <input style="margin-left:5px; cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2">
                                <input style="cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2">
                                <input style="cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2">
                                <input style="cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2">
                            </p>                                                        
                            <p style="margin-top:-10px;">Terça
                                <input style="margin-left:29.83px;" class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2">
                                <input style="" class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2">
                                <input style="" class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2">
                                <input style="" class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2">
                            </p>
                            <p style="margin-top:-10px;">Quarta
                                <input style="margin-left:17.8px;cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault4">
                                <input style="" class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault4">
                                <input style="" class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault4">
                                <input style="" class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault4">
                            </p>
                            <p style="margin-top:-10px;">Quinta
                                <input style="cursor:pointer; margin-left:19px;" class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault5">
                                <input style="cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault5">
                                <input style="cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault5">
                                <input style="cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault5">
                            </p>
                            <p style="margin-top:-10px;">Sexta
                                <input style="cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault6">
                                <input style="cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault6">
                                <input style="cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault6">
                                <input style="cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault6">
                            </p>
                            <p style="margin-top:-10px;">Sábado
                                <input style="cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault7">
                                <input style="cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault7">
                                <input style="cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault7">
                                <input style="cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault7">
                            </p>
                            <p style="margin-top:-10px;">Domingo
                                <input style="cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault8">
                                <input style="cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault8">
                                <input style="cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault8">
                                <input style="cursor:pointer;" class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault8">
                            </p>
                        </div>
                    </div>
                    
                    
                </div> 

                
                <div style="margin-top:20px;" class="row">
                    <div class="col" style="padding-left:30px;">
                        <label for="validationCustom04" class="form-label">Tipo de Trabalho</label>

                        <select style="width:350px;" class="form-select" id="validationCustom04" required>
                            <option selected disabled style="visibility:hidden; display:none">Selecione o Tipo de Trabalho...</option>
                            <option value="">Monografia</option>
                            <option>Artigo Científico</option>

                        </select>
                    </div>
                                        
                    <div class="col" style="margin-bottom:10px; left:500px;">
                        <label for="validationCustom04" class="form-label">Enviar Documento</label>
                        <div class="col input-group" style="">
                            <label class="btn" id="Enviar_Arquivo" style="">
                                <input type="file" id="file" />
                                Adicionar Documento
                            </label>
                            
                            <input style="box-shadow:none;" type="text" name="name" id="name" class="form-control border-1 bg-white" readonly>
                            

                        </div>
                        <div class="" style="margin-bottom:-30px; margin-top:20px;">
                            <label for="validationCustom04" class="form-label">Enviar Documento</label>
                            <div class="col input-group" style="">
                                <label class="btn" id="Enviar_Arquivo" style="">
                                    <input type="file" id="file" />
                                    Adicionar Documento
                                </label>
                                <input style="box-shadow:none;" type="text" name="name" id="name" class="form-control border-1 bg-white" readonly>

                            </div>
                        </div>
                    </div>                    
                    
                    
                </div>
                

              </div>

            </div>

        </form>


    <div class="modal-footer" style="position:relative;top:70px;">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <a class="page-link" style="color:black;display:none;cursor:pointer;" id="3">Anterior</a>

                <li class="page-item">
                    <a class="page-link" id="1" style="cursor:pointer;color:white !important;background-color: #a0a0a0 !important;">1</a>
                </li>
                <li class="page-item"><a class="page-link" id="2" style=" cursor:pointer;color:black !important;background-color: white !important;">2</a></li>
                <li class="page-item">

                    <a class="page-link" style="color: black;cursor:pointer;" id="4">Próximo</a>

                </li>
            </ul>
        </nav>

        
    </div>



</div>

<!--<button id="BotProxAnteEnviar" href="" class="btn" type="submit">Enviar</button>-->

<script type="text/javascript">

    const targetDiv2 = document.getElementById("form2");
    const targetDiv1 = document.getElementById("form1");
    const btn2 = document.getElementById("2");
    const btn1 = document.getElementById("1");
    const btn3 = document.getElementById("3");
    const btn4 = document.getElementById("4");



    btn2.onclick = function () {
        if (targetDiv2.style.display !== "block") {
            targetDiv2.style.display = "block";
            targetDiv1.style.display = "none";
            btn4.style.display = "none";
            btn3.style.display = "block";
            btn2.style.color = "white"; 
            btn2.style.backgroundColor = "#a0a0a0";
            btn1.style.color = "black"; 
            btn1.style.backgroundColor = "white";

        }
        

        
    };

    btn1.onclick = function () {
        if (targetDiv1.style.display !== "block") {
            targetDiv2.style.display = "none";
            targetDiv1.style.display = "block";
            btn4.style.display = "block";
            btn3.style.display = "none";
            btn2.style.color = "black";
            btn2.style.backgroundColor = "white";
            btn1.style.color = "white";
            btn1.style.backgroundColor = "#a0a0a0";

        }
    };

    btn3.onclick = function () {
        if (targetDiv2.style.display !== "none") {
            targetDiv2.style.display = "none";
            targetDiv1.style.display = "block";
            btn4.style.display = "block";
            btn3.style.display = "none";
            btn2.style.color = "black";
            btn2.style.backgroundColor = "white";
            btn1.style.color = "white";
            btn1.style.backgroundColor = "#a0a0a0";

        }
    };

    btn4.onclick = function () {   //Btn4 = Proximo
        if (targetDiv1.style.display !== "none") {
            targetDiv2.style.display = "block";
            targetDiv1.style.display = "none";
            btn4.style.display = "none";
            btn3.style.display = "block";
            btn2.style.color = "white";
            btn2.style.backgroundColor = "#a0a0a0";
            btn1.style.color = "black";
            btn1.style.backgroundColor = "white";
    
        }
    };
</script>