<head>

    <link rel="stylesheet" href="/css/EnviarTCCPage2.css" asp-append-version="true" />

</head>

<div id="FundoTCCEnviar">
    <div class="modal-header">
        <a style="float:left;width:35px;height:35px; margin-left:10px;" href="/Home/RegrasTCC">
            <img src="/Imagens/botao-voltar.png" style="float:left;width:35px;height:35px;" />
        </a>
        <h1 style="margin:auto;">Enviar Trabalho de Conclusão de Curso</h1>
    </div>

    <div class="modal-body" style="border:none;">
        <form>
                      
        </form>


    </div>
    <div class="modal-footer" style="position:relative;top:70px;">
        <button id="BotProxAnteEnviar" href="" class="btn" type="submit">Enviar</button>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                    <li class="page-item">
                       <a class="page-link" href="/Enviar/EnviarTCC">Anterior</a>
                   </li>
                <li class="page-item"><a class="page-link" href="/Enviar/EnviarTCC">1</a></li>
                <li class="page-item"><a class="page-link" href="/Enviar/EnviarTCCPage2">2</a></li>
                
            </ul>
        </nav>
    </div>



</div>