@model List<Projeto_DAFT.Entidades.ProfessorEntidade>

<head>

    <link rel="stylesheet" href="/css/EnviarAnteprojeto.css" asp-append-version="true" />


</head>


<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;); margin-left:20px;" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Index" style="color:#00648C; text-decoration:none">Página Inicial</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/Home/RegrasAnteprojeto" style="color:#00648C; text-decoration:none">Regras Anteprojeto</a></li>
        <li class="breadcrumb-item active" aria-current="page">Enviar Anteprojeto</li>
    </ol>
</nav>

<div id="FundoAnteEnviar">
    <div class="modal-header">
        <a style="float:left;width:35px;height:35px; margin-left:10px;" href="/Home/RegrasAnteprojeto">
            <img src="/Imagens/botao-voltar.png" style="float:left;width:35px;height:35px;" />
        </a>
        <h1 style="margin:auto;">Enviar Anteprojeto</h1>
    </div>

    @{
        var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
        var Nome = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value;

    }

    <div class="modal-body" style="border:none;">
        <form action="/Enviar/EnvioProjeto" method="post">
            <div class="row" style="position:relative;">
                <h5 style="">Dados Pessoais</h5>

                <div class="col">
                    <label for="validationCustom04" class="form-label">Nome Completo</label>
                    <input type="text" class="form-control" value="@Nome" disabled/>
                    <input type="hidden" name="AlunoId" value="1" />

                </div>
                <div class="col">
                    <label for="validationCustom04" class="form-label">Telefone</label>
                    <input type="number" class="form-control" name="Telefone" />

                </div>
                <div class="col">
                    <label for="validationCustom04" class="form-label">Email</label>
                    <input type="text" class="form-control" name="Email" placeholder="email@@.com" />

                </div>
            </div>



            <div class="row">
                <h5 style="margin-top:20px;">Dados Academicos</h5>
                <div class="col">
                    <label for="validationCustom04" class="form-label">Curso</label>

                    <select class="form-select" id="validationCustom04" required name="Curso">
                        <option selected disabled style="visibility:hidden; display:none">Selecione o Curso...</option>
                        <option>Agronegócio</option>
                        <option>Análise e Desenvolvimento de Sistemas</option>
                        <option>Gestão Empresarial (EaD)</option>
                        <option>Produção Industrial</option>
                        <option>Sistemas para Internet</option>
                    </select>

                </div>
                <div class="col">
                    <label for="validationCustom05" class="form-label">Turno</label>
                    <select class="form-select" id="validationCustom04" required name="Turno">
                        <option value="" style="visibility:hidden; display:none;">Selecione o turno...</option>
                        <option>Manhã</option>
                        <option>Tarde</option>
                        <option>Noite</option>
                    </select>

                </div>

                <div class="col">
                    <label for="validationCustom05" class="form-label">Orientador</label>
                    <select class="form-select" id="validationCustom04" required name="ProfessorId">               
                        <option value="" style="visibility:hidden; display:none;">Selecione o Orientador...</option>
                        @foreach (var item in Model)
                        {
                            <option value="@item.Id">@item.Usuario.Nome</option>
                        }   
                    </select>
                </div>
            </div>


            <div class="row" style="position:relative;top:10px;">

                <div class="col">
                    <label for="validationCustom04" class="form-label">Titulo</label>
                    <input type="text" class="form-control" name="Titulo" placeholder="trabalho.pdf / fulano de tal-autorizacao.docx" />

                </div>
                <div class="col">
                    <label for="validationCustom04" class="form-label">Observações</label>
                    <input type="text" class="form-control" name="observações" style="float:right;" />

                </div>

                <div class="col">
                    <label for="validationCustom04" class="form-label">RA</label>
                    <input type="number" class="form-control" name="RA" style="float:right;" />
                </div>
            </div>

            <div class="row" style="position:relative;top:20px;">

                <div class="col">
                    <label for="validationCustom04" class="form-label">Semestre Atual</label>
                    <input type="text" class="form-control" value="1" name="SemestreId" />

                </div>
                <div class="col">
                    <label for="validationCustom04" class="form-label">Inicio do Semestre</label>
                    <input type="date" class="form-control" name="Data_E2rega" style="float:right;" />

                </div>

                <div class="col">
                    <label for="validationCustom04" class="form-label">Fim do Semestre</label>
                    <input type="date" class="form-control" name="semestrefim" style="float:right;" />
                </div>
            </div>

            <div class="row" style="position:relative; top:40px; margin-bottom:10px;">
                <label for="validationCustom04" class="form-label">Enviar Documento</label>
                <div class="col input-group" style="">
                    <label class="btn" id="Enviar_Arquivo" style="">
                        <input type="file" id="file" name="Caminho" />
                        Adicionar Documento
                    </label>
                    <input style="box-shadow:none;" type="text" name="name" id="name" class="form-control border-1 bg-white" readonly>


                </div>
            </div>
            <input type="hidden" value="Anteprojeto" name="Tipo" />
            <input type="hidden" value="@DateTime.Today.ToShortDateString()"  name="Data_Entrega" />
            <div class="modal-footer" style="position:relative;top:50px;">

                <button style="box-shadow:none;" id="BotProxAnteEnviar" onclick="Datacorreta()" class="btn" type="submit">Enviar</button>

            </div>

        </form>


    </div>
    
</div>
