@{
    Layout = "Layout_Cadastro";
}


<head>

    <link rel="stylesheet" href="/css/Cadastro.css" asp-append-version="true" />

</head>



<body>

    <div style="padding-bottom:50px;">
    </div>
<center>
<div id="FundoCad">
            <div class="modal-header">
            <h1 style="position:relative;margin:auto;">Cadastro</h1>
            </div>

<a href="/Aluno/Cadastro" style="visibility:hidden;display:inline-block;"><img id="AlunIco" src="/Imagens/aluno icone.png"></a>
<a href="/Orientador/Cadastro" style="visibility:hidden;display:inline-block;"><img id="OrientadorIco" src="/Imagens/Orientador icone.png"></a>
            <br />
<a id="AlunoText" href="/Aluno/Cadastro">Sou Aluno</a>
<a id="OrientadorText" href="/Orientador/Cadastro">Sou Orientador</a>

</div>
    </center>


    <div style="padding-top:50px;"></div>


</body>
