@{
    Layout = "Layout_Cadastro";
}


<head>

    <link rel="stylesheet" href="/css/Cadastro.css" asp-append-version="true" />

</head>

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;); margin-left:20px;" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Index" style="color:#00648C; text-decoration:none">Página Inicial</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="#" style="color:#00648C; text-decoration:none">Entrar</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cadastro</li>
    </ol>
</nav>

<body>

   
<div id="FundoCad">
            <div class="modal-header">
            <h1 style="position:relative;margin:auto;">Cadastro</h1>
            </div>
    
    <div id="IcoTextAluno">
        <a href="/Aluno/Cadastro" style="visibility:hidden;"><img id="AlunIco" src="/Imagens/aluno icone.png"></a>
        <a id="AlunoText" href="/Aluno/Cadastro">Sou Aluno</a>
    </div>

    <div id="IcoTextOrientador" >
        <a href="/Orientador/Cadastro" style="visibility:hidden;"><img id="OrientadorIco" src="/Imagens/Orientador icone.png"></a>
        <a id="OrientadorText" href="/Orientador/Cadastro">Sou Orientador</a>  

    </div>

    <div id="IcoTextAdmin">
        <a href="/Admin/Cadastro" style=""><img id="AdminIco" src="/Imagens/admin azul.png" ></a>
        <a id="AdminText" href="/Admin/Cadastro">Sou Administrador</a>
    </div>


</div>

</body>
