@{
    Layout = "Layout_Cadastro";
}


<head>

    <link rel="stylesheet" href="/css/Cadastro.css" asp-append-version="true" />

</head>



<body>

   
<div id="FundoCad">
            <div class="modal-header">
            <h1 style="position:relative;margin:auto;">Cadastro</h1>
            </div>

<div id="IcoTextAluno">
<a href="/Aluno/Cadastro" style="visibility:hidden;"><img id="AlunIco" src="/Imagens/aluno icone.png"></a>
<a id="AlunoText" href="/Aluno/Cadastro">Sou Aluno</a>
</div>

<div id="IcoTextOrientador" >
<a href="/Orientador/Cadastro" style="visibility:hidden;"><img id="OrientadorIco" src="/Imagens/Orientador icone.png"></a>
<a id="OrientadorText" href="/Orientador/Cadastro">Sou Orientador</a>  

</div>

<div id="IcoTextAdmin">
<a href="/Admin/Cadastro" style=""><img id="AdminIco" src="/Imagens/admin azul.png" ></a>
<a id="AdminText" href="/Admin/Cadastro">Sou Administrador</a>
</div>


</div>

</body>
