@{
    Layout = "Layout_Cadastro";
}

<head>

    <link rel="stylesheet" href="/css/Orientador.css" asp-append-version="true" />

</head>

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;); margin-left:20px;" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Index" style="color:#00648C; text-decoration:none">Página Inicial</a></li>
        <li class="breadcrumb-item " aria-current="page"><a href="#" style="color:#00648C; text-decoration:none">Entrar</a></li>
        <li class="breadcrumb-item " aria-current="page"><a href="/Cadastro/Cadastro" style="color:#00648C; text-decoration:none">Cadastro</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cadastro do Orientador</li>
    </ol>
</nav>

<center>

    <div id="FundoCadOrientador">
        <div class="modal-header" id="CadTextIco">
            <a href="/Cadastro/TipoCadastro"> <img src="/Imagens/botao-voltar.png" id="VoltarIcoCad" /></a>
            <h1 id="CadOri">Cadastro do Orientador</h1>

        </div>

        <img src="/Imagens/Orientador icone.png" id="OrientadorIcoCad" />

        <form method="post" action="/Cadastro/SalvarUsuario">

            <div id="Nome">
                <label id="OrientadorNomeLab" class="form-label">Nome*</label>
                <input type="text" name="Nome" class="form-control" id="NomeInp" required />
            </div>

            <div id="Telefone">
                <label id="OrientadorTeleLab" class="form-label">Telefone*</label>
                <input type="text" name="Telefone" class="form-control" id="TeleInp" required placeholder="9999999999" />
            </div>

            <div id="Email">
                <label id="OrientadorEmaiLab" class="form-label">Email*</label>
                <input type="email" name="Email" class="form-control" id="EmailInp" placeholder="email@@.com" required />
            </div>

            <input type="hidden" name="tipo" value="2" />

            <div id="Lattes">
                <label id="LattesLab" class="form-label">Lattes</label>
                <input type="text" name="Lattes" class="form-control" id="LattesInp" />
            </div>

            <div id="Senha">
                <label id="SenhaLab" class="form-label">Senha</label>
                <input type="password" name="Senha" class="form-control" id="SenhaInp" />
            </div>


            <div id="CheckLabEmail">
                <input class="form-check-input" type="checkbox" name="Autoriza_Email" value="True" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Autorizo o recebimento de Emails
                </label>
            </div>
            <br />

            <div id="CheckLabDados">
                <input class="form-check-input" name="Autoriza_Dados" type="checkbox" value="True" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                    Autorizo o uso de meus dados
                </label>
            </div>
            <br />
            <button type="submit" class="btn btn-dark" id="ButtonCriar">Criar</button>

        </form>
    </div>

</center>
