@{
    Layout = "Layout_Cadastro";
}

<head>

    <link rel="stylesheet" href="/css/Admin.css" asp-append-version="true" />

</head>


<center>

    <div id="FundoCadAdmin">
        <div class="modal-header" id="CadTextIco">
            <a href="/Cadastro/Cadastro"> <img src="/Imagens/botao-voltar.png" id="VoltarIcoCad" /></a>
            <h1 id="CadAdmin">Cadastro do Administrador</h1>

        </div>

        <img src="/Imagens/admin azul.png" id="AdminIcoCad" />

        <form method="">

            <div id="Nome">
                <label id="AdminNomeLab" class="form-label">Nome*</label>
                <input type="text" name="" class="form-control" id="NomeInp" required />
            </div>

            <div id="Telefone">
                <label id="AdminTeleLab" class="form-label">Telefone*</label>
                <input type="text" name="" class="form-control" id="TeleInp" required placeholder="9999999999" />
            </div>

            <div id="Email">
                <label id="AdminEmaiLab" class="form-label">Email*</label>
                <input type="email" name="" class="form-control" id="EmailInp" required />
            </div>



            <div id="Cod">
                <label id="CodLab" class="form-label">Codigo do Administrador*</label>
                <input type="text" name="" class="form-control" id="CodInp" />
            </div>

            <div id="CheckLabEmail">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Autorizo o recebimento de Emails
                </label>
            </div>
            <br />

            <div id="CheckLabDados">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                    Autorizo o uso de meus dados
                </label>
            </div>
            <br />
            <button type="submit" class="btn btn-dark" id="ButtonCriar">Criar</button>

        </form>
    </div>

</center>
